<h1>SmartFruit</h1>

<%# filter form %>
<%= form_with url: index_path, method: :get, local: true do |f| %>
    <%# search by name %>
    <%= f.text_field :name, value: params[:name] %>
    
    <%# in season only %>
    <label>
        <%= radio_button_tag :in_season, "", params[:in_season].blank? %>
        All
    </label>

    <label>
        <%= radio_button_tag :in_season, "true", params[:in_season] == "true" %>
        In Season only
    </label>

    <label>
        <%= radio_button_tag :in_season, "false", params[:in_season] == "false" %>
        Out of Season only
    </label>

    <%# colors %>
    <% FruitsController.all_colors.each do |color_choice| %>
        <label>
        <input type="checkbox" name="color[]" value="<%= color_choice %>"
        <%= "checked" if Array(params[:color]).include?(color_choice) %>>
            <%= color_choice %>
        </label>
    <% end %>

    <%= f.submit "Search" %>
<% end %>

<%# display data %>
<% @fruits.each do |fruit| %>
    <%= fruit.name %>
<% end %>
