<%= form_with url: index_path, method: :get, local: true do |f| %>

<% fieldset_classes = "border border-brand-primary border-rounded-lg p-4" %>
<% onchange = "this.form.submit()" %>

<main class="container mx-auto mt-16 px-5 grid grid-cols-1 md:grid-cols-4 gap-4">

<script>
  function debouncedSubmit(el) {
    clearTimeout(el._timeout)

    el._timeout = setTimeout(() => {
      el.form.requestSubmit()
    }, 300)
  }
</script>

<!-- Header -->
<section class="col-span-1 md:col-span-4 text-center">
    <h1 class="text-5xl mb-5">Explore the Harvest</h1>
    <h2 class="text-4xl mb-5">Find your perfect fruit today!</h2>
    <%# search by name %>
    <%= f.text_field :name, placeholder: "search", class: "w-full md:w-lg bg-bg-subtle border border-brand-accent", value: params[:name], oninput: "debouncedSubmit(this);" %>
</section>


<%# filter form %>
<section class="col-span-1 flex flex-col gap-4">
    <%# in season only %>
    <fieldset class="<%= fieldset_classes %>">
        <legend>Filter by Seasonality</legend>
    <label>
        <%= radio_button_tag :in_season, "", params[:in_season].blank?, onchange: %>
        All
    </label>

    <label>
        <%= radio_button_tag :in_season, "true", params[:in_season] == "true", onchange: %>
        In Season only
    </label>

    <label>
        <%= radio_button_tag :in_season, "false", params[:in_season] == "false", onchange: %>
        Out of Season only
    </label>
    </fieldset>

    <%# colors %>
    <fieldset class="<%= fieldset_classes %>">
        <legend>Filter by Color</legend>
    <% FruitsController.all_colors.each do |color_choice| %>
        <label>
        <%# TODO: check if there's a ruby `form_with` input for this %>
        <input type="checkbox" name="color[]" value="<%= color_choice %>" , onchange="this.form.submit()"
        <%= "checked" if Array(params[:color]).include?(color_choice) %>>
            <%= color_choice %>
        </label>
    <% end %>
    </fieldset>

    <div class="flex items-center">
        <%= f.submit "Reapply Filters", 
            class: "mx-2 bg-brand-primary hover:bg-brand-primary-hover text-white px-4 py-2 rounded-lg font-medium transition" 
        %>
        <%= link_to "Clear Filters", index_path,
            class: "mx-2 text-brand-accent hover:text-brand-accent-hover underline text-sm"
        %>
    </div>
</section>

<%# display data %>
<section class="col-span-1 md:col-span-3">
    <%# inner grid %>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <% @fruits.each do |fruit| %>
        <div class="bg-white rounded-2xl shadow-md p-4">
            <h3 class="text-lg font-semibold text-gray-800">
                <%= fruit.name %>
            </h3>
            <p class="text-gray-600 mt-2">
                Available colors:
                <% fruit.colors.each do |color| %>
                    <span class="px-1">
                        <%= color %>
                    </span>
                <% end %>
            </p>
            <p class="text-gray-600 mt-2">
                <% if fruit.in_season %>
                    ✅ In season
                <% else %>
                    🚫 Not in season
                <% end %>
            </p>
        </div>
    <% end %>
    </div>
</section>

</main>
<% end %>
